<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--1st connection-->
    <add key="Conn1_index" value="0"/>
    <add key="Conn1_Name" value="PLC1"/>
    <add key="Conn1_username" value="PLC1"/>
    <add key="Conn1_pass" value="abc123"/>
    <add key="Conn1_host" value="192.168.1.109"/>
    <add key="Conn1_port" value="21"/>
    <add key="Conn1_RemotePath" value="/"/>
    <add key="Conn1_LocalPath" value="F:\\FTP_Local\\"/>
    <add key="Conn1_LocalPathConverted" value="F:\\FTP_Local\\"/>
    <add key="Conn1_interval" value="1"/>
    <add key="Conn1_Filter_Char" value="71"/>
    <add key="Conn1_enable" value="False"/>
    <add key="Conn1_FilterEnable" value="False"/>
    <!--2nd connection-->
    <add key="Conn2_index" value="1"/>
    <add key="Conn2_Name" value="PLC2"/>
    <add key="Conn2_username" value="RND1"/>
    <add key="Conn2_pass" value="nopassword"/>
    <add key="Conn2_host" value="192.168.1.104"/>
    <add key="Conn2_port" value="21"/>
    <add key="Conn2_RemotePath" value="/"/>
    <add key="Conn2_LocalPath" value="F:\\FTP_Local\\"/>
    <add key="Conn2_LocalPathConverted" value="F:\\FTP_Local\\"/>
    <add key="Conn2_interval" value="1"/>
    <add key="Conn2_Filter_Char" value="51"/>
    <add key="Conn2_enable" value="false"/>
    <add key="Conn2_FilterEnable" value="False"/>
    <!--3rd connection-->
    <add key="Conn3_index" value="2"/>
    <add key="Conn3_Name" value="PLC_OMRON"/>
    <add key="Conn3_username" value="PLC1"/>
    <add key="Conn3_pass" value="abc123"/>
    <add key="Conn3_host" value="192.168.1.120"/>
    <add key="Conn3_port" value="21"/>
    <add key="Conn3_RemotePath" value="/MEMCARD"/>
    <add key="Conn3_LocalPath" value="F:\\FTP_Local\\"/>
    <add key="Conn3_LocalPathConverted" value="F:\\FTP_Local_C\\"/>
    <add key="Conn3_interval" value="3"/>
    <add key="Conn3_Filter_Char" value="91"/>
    <add key="Conn3_enable" value="True"/>
    <add key="Conn3_FilterEnable" value="False"/>
    <!--4th connection-->
    <add key="Conn4_index" value="3"/>
    <add key="Conn4_Name" value="PLC4"/>
    <add key="Conn4_username" value="RND1"/>
    <add key="Conn4_pass" value="aa"/>
    <add key="Conn4_host" value="192.168.1.104"/>
    <add key="Conn4_port" value="21"/>
    <add key="Conn4_RemotePath" value="/"/>
    <add key="Conn4_LocalPath" value="F:\\FTP_Local\\"/>
    <add key="Conn4_LocalPathConverted" value="F:\\FTP_Local\\"/>
    <add key="Conn4_interval" value="1"/>
    <add key="Conn4_Filter_Char" value="71"/>
    <add key="Conn4_enable" value="False"/>
    <add key="Conn4_FilterEnable" value="False"/>
    <add key="LogPath" value="F:/FTP_Local/"/>
    <add key="Login_pass" value="admin"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
